body {
  /* background-color: black;
  color: white; */
  /* margin-left: 10px; */
  /* max-width: 98%; */
}

.mango-title {
  color: rgb(4, 108, 108);
  display: flex;
}

.title {
  margin: 0 30px;
  padding: 5px 15px;
  border: 1px solid greenyellow;
  border-radius: 10px;
}

.active {
  background-color: aqua;
  color: red;
}

h1 {
  text-align: center;
}

.title:hover {
  transition: 0.5s linear;
  background-color: cyan;
  color: whitesmoke;
  cursor: pointer;
}

.container {
  display: flex;
}

.mango {
  background-color: whitesmoke;
  width: 32%;
  /* border: 1px solid greenyellow; */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mango-image {
  width: 100%;
  border-radius: 10px;
}

.mango-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

.header-mango {
  color: green;
  text-align: center;
}

.mango small {
  display: block;
  text-align: center;
}

.area {
  color: rgb(4, 190, 190);
}

.description {
  color: gray;
  text-align: justify;
  /* color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}

.owner {
  text-align: end;
}
